<nav class="navbar navbar-expand-md navbar-dark bg-dark px-5">
    <a class="navbar-brand" [routerLink]="['/home']">Basketball Season</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/player']">Players</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[ '/team' ]">Teams</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[ '/tournament' ]">Tournaments</a>
        </li>
    </ul>

    <div *ngIf="loggedIn()" class="btn-group" dropdown>
        <a class="dropdown-toggle text-light" data-toggle="dropdown" href="#" dropdownToggle>
            Welcome
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </ul>
    </div>
</nav>